# Build output
dist/

# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# Executables
*.exe

# Database (important for your case)
*.sqlite
*.sqlite-shm
*.sqlite-wal